
<hr>
List of Authors:
<%= @authors %>
<hr>

List of Tags:
<%= @tags %>
<hr>
List of Subject:
<% @subjects.each do |s|  %>
	<a href="#"><%= s %></a>
<% end  %>
<hr>
List of Languages:
<%= @languages %>
<hr>

<search-ui></search-ui>


<ul>
	<li ng-repeat="book in library.books">
		
		<book-profile></book-profile>

	</li>
</ul>

