<!DOCTYPE html>
<html lang="en" ng-app="libFA">
<head>
	<meta charset="UTF-8">
	<title>Library For All Code Challenge</title>

	<link rel="stylesheet" href="./bower_packages/bootstrap/dist/css/bootstrap.min.css">

	<script src="./bower_packages/jquery/dist/jquery.min.js"></script>
	<script src="./bower_packages/bootstrap/dist/js/bootstrap.min.js"></script>


	
	<script src="./bower_packages/angular/angular.min.js"></script>


	

</head>
<body ng-controller="BooksCtrl as library">

	<main class="container-fluid">
  	<%= yield %>
	</main>
		
	<script src="./app/js/directives.js"></script>
	<script src="./app/app.js"></script>


</body>
</html>