
<h2>Filter By Category Content</h2>


<!-- {{ sUi.libQ  }} -->
<!-- Authors Dropdown Selection -->
<div class="btn-group">
  
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Authors <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" role="menu" >
    
    <li ng-repeat="author in sUi.libQ.categorySearchables.authors">
    	
    	<a href="#" ng-click="sUi.toggleSearchable('authors', author)" ng-class="{ 'btn-success' : sUi.selectedBoolean('authors', author) }">
    		
    		{{ author.full_name }}
    	
    	</a>
    </li>
  </ul>
</div>

<!-- Titles / Names of book -->

<div class="btn-group">
  
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Titles <span class="caret"></span>
  </button>
  
  <ul class="dropdown-menu" role="menu" >
    
    <li ng-repeat="name in sUi.libQ.categorySearchables.names">
    	
    	<a href="#" ng-click="sUi.toggleSearchable('names', name)" ng-class="{ 'btn-success' : sUi.selectedBoolean('names', name) }">
    		
    		{{ name }}
    	
    	</a>
    </li>
  </ul>
</div>


<!-- Tags -->

<div class="btn-group">
  
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Tags <span class="caret"></span>
  </button>
  
  <ul class="dropdown-menu" role="menu" >
    
    <li ng-repeat="tag in sUi.libQ.categorySearchables.tags">
    	
    	<a href="#" ng-click="sUi.toggleSearchable('tags', tag)" ng-class="{ 'btn-success' : sUi.selectedBoolean('tags', tag) }">
    		
    		{{ tag | lowercase }}
    	
    	</a>
    </li>
  </ul>
</div>


<!-- Subjects -->

<div class="btn-group">
  
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Subjects <span class="caret"></span>
  </button>
  
  <ul class="dropdown-menu" role="menu" >
    
    <li ng-repeat="sub in sUi.libQ.categorySearchables.subjects">
    	
    	<a href="#" ng-click="sUi.toggleSearchable('subjects', sub)" ng-class="{ 'btn-success' : sUi.selectedBoolean('subjects', sub) }">
    		
    		{{ sub | lowercase }}
    	
    	</a>
    </li>
  </ul>
</div>



<!-- Languages -->

<div class="btn-group">
  
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Languages <span class="caret"></span>
  </button>
  
  <ul class="dropdown-menu" role="menu" >
    
    <li ng-repeat="lang in sUi.libQ.categorySearchables.languages">
    	
    	<a href="#" ng-click="sUi.toggleSearchable('languages', lang)" ng-class="{ 'btn-success' : sUi.selectedBoolean('languages', lang) }">
    		
    		{{ lang }}
    	
    	</a>
    </li>
  </ul>
</div>



<hr>

