<div class='container'>
  <div class="col-md-6">
    <h2>Welcome {{ student.name }}! <br><small>In {{ student.klass | lowercase }}</small></h2>
  </div>
  <div class="col-md-6">
    <img ng-src="//robohash.org/{{student.id}}.png" class="studentshow" />
  </div>
</div>

  <h3>My Favorite Books</h3>
    <div class="row">	
      <div class="col-sm-6 col-md-4" ng-repeat="book in favorites(student)"> 
      	<book-partial></book-partial>
      </div>
  </div>  


<div class="row">
  <h3>Kids in My Class <small>and their favorite books!</small></h3>

    <div class="col-sm-6 col-md-4" ng-repeat="mate in klassMates()"> 
      <div class="caption thumbnail">
        <a ui-sref="studentshow({ id: mate.id })"><h4>{{ mate.name }}</h4></a>
        <ul class="list-unstyled">
          <li ng-repeat="fave in favorites(mate)">
            <strong>{{ fave.doc.name }}</strong>
          <br><a ui-sref="bookshow({ id: fave.doc._id })" class="btn btn-default btn-sm" role="button">Details</a>
          <button  class="btn btn-success btn-sm" ng-click="addToFaves(fave.doc._id)">Add to my favorites</button>
          </li>
        </ul>

      </div>
    </div>
</div>  





